<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div class="poster-container">
		<% binding.pry %>
		<% session[:movie_list].each do |m|  %>
			<img src=<%= m["poster_path"] %> alt=<%m["title"]%>>
		<% end %>
	</div>
	
</body>
</html>