<html>
<head>
	<meta charset="UTF-8">
	<title>Movie Search</title>
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="./bower_components/bootstrap/dist/js/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="./stylesheets/screen.css">
</head>
<body>
<div class="container init">
	<div class="form-search-container">
		<form id="search" action="/search" method="POST">
			<div class="row s-w">
				<div class="col-xs-12 col-sm-4 col-md-2 wat-wrapper">
					<label for="si"><h1>Wat?</h1></label>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-6 input-wrapper">
					<input type="text" id="si" name="si" autofocus autocomplete="off">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 submit-wrapper">
					<button type="submit" id="ss">
						<span class="spin">srrrrch</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container">
	<% if session[:movie_list] != [] %>	
		<div class="poster-container">
			<div id="loader">
				<div id="fountainTextG">
					<div id="fountainTextG_1" class="fountainTextG">p</div>
					<div id="fountainTextG_2" class="fountainTextG">e</div>
					<div id="fountainTextG_3" class="fountainTextG">e</div>
					<div id="fountainTextG_4" class="fountainTextG">p</div>
					<div id="fountainTextG_5" class="fountainTextG">i</div>
					<div id="fountainTextG_6" class="fountainTextG">n</div>
					<div id="fountainTextG_7" class="fountainTextG">.</div>
					<div id="fountainTextG_8" class="fountainTextG">.</div>
				</div>
			</div>
			<div class="grid">
				<% session[:movie_list].each do |m|  %>
					<div class="grid-item">
						<% if m[1] != nil%>
							<img src="http://image.tmdb.org/t/p/w342/<%= m[1] %>" alt=<%= m[0]%>>
						<% end %>
					</div>
				<% end %>
			</div>				
		</div>
	<% end %>
</div>






</body>
<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="./bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</html>