<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Which function?</title>
</head>
<body>
	<h1 class="logo">CALCULATOR</h1>
	<h4>Which method would you like to use?</h4>
	<ul class="method">
		<li id="add">Addition</li>
		<li id="sub">Subtraction</li>
		<li id="mlt">Multiply</li>
		<li id="div">Divide</li>
	</ul>
</body>
</html>