.init{
	padding-bottom:100px;
}

.albums {
	float:right;
}

#artist-search-wrapper{
	padding-top:100px;
}

ul{
	list-style: none;
}

.artists li{
	padding:2%;
}

.artists li img{
	padding-left: 5%;
}

.album-info{
	list-style:none;
}


input[type=hidden]{
	border-bottom: 5px solid black;
}