<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
<div class="content-wrapper">
	<h1 class="welcome">Hello!, <%= @name %> </h1>
</div>

	<% if current_user %>
		<%= link_to "Products", products_path  %>
	<% end %>
</body>
</html>