body{
	font:40px "montserrat" !important;
	background-color: #C3DDC8 !important;
}

a{
	text-decoration:none !important;
}

.row{
	margin-right:0;
	margin-left:0;
}

.heading, .new-task, .username{
	text-align:center;
}

.heading{
	padding-bottom: 25px;
}

.head{
	text-align:left;
}

h1{
	font-size:70px;
}

.task-logo{
	padding-left:3%;
	padding-bottom: 3%;
	font-size: 20px;
}

.container{
	background:#FAFCFF;
	margin:2% auto;
	padding: 2% 0;
	min-height:90vh;
}

.tasks-wrapper{
	padding:2% 5%;
	font-size: 30px;
}

form, .dfrm-cont, .cfrm-cont{
	display:inline-block;
}

.dfrm-cont{
	float:right;
}

.tasks li{
	padding:1% 0;
}

#new-task:focus, #username:focus{
	outline:none;
}

#new-task, #username{
	border:none;
	background:#FAFCFF;
	width:95%;
}

.nt-l{
	padding-bottom:2%;
	white-space:nowrap;
}

#add-task-text{
	font-size:35px;
	color:#FFA31F;
	 -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;
}

#add-task-text:hover{
	 -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;
    color:#CEF0A8;
    text-shadow: 1px 0 #9A9661;
}

button, .submit, #user-sub{
	border:none;
	background:none;
}

.submit{
	font-size:33px;
}

.tcon{
	border:none;
	background:none;
	color:#F92E73;
}

.tcon-c{
	color:#0A5329;
}

.glyphicon-ok{
	color:#0A5329;
	padding-left:30px;
}
