/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
body {
  font: 20px "Josefin sans";
  background: #FFFCF9;
  border: solid 50px #020202;
}

/* line 17, ../sass/screen.scss */
.init {
  padding-top: 50px;
  margin-bottom:20px;
}

/* line 21, ../sass/screen.scss */
.s-w {
  width: 95%;
  margin: 0 auto;
}

/* line 26, ../sass/screen.scss */
#si {
  width: 100%;
  height: 60px;
  font-size: 2em;
  border: 7px solid #020202;
  padding-left: 5px;
}
/* line 32, ../sass/screen.scss */
#si:focus, #ss:focus {
  outline: none;
}

/* line 37, ../sass/screen.scss */
#ss {
  background: #FF7A68;
  color: #FFFFEF;
  height: 60px;
  width: 80%;
  font-size: 2em;
  border: none;
}

/* line 46, ../sass/screen.scss */
.submit-wrapper, .wat-wrapper {
  text-align: center;
  margin: 2% auto;
}

/* line 51, ../sass/screen.scss */
.input-wrapper {
  margin: 2% auto;
  text-align: left;
}

/* line 56, ../sass/screen.scss */
.spin {
  position: relative;
  top: 2px;
}

.grid{
  text-align: center;
  margin:0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item{
  margin-bottom:20px;
  width:340px;
  height:auto;
}

.grid-item--gigante {
  width: 600px;
  height: auto;
}

.grid-item img{
  width:300px;
  border:15px solid #020202;
  padding:5px;
}

#loader{
    position: absolute;
    background-color: #FFFCF9;
    z-index: 1;
    display:none;
    text-align:center;
}

.loading{
  display:block !important;
}

#fountainTextG{
  width:720px;
  margin:auto;
}

.fountainTextG{
  color:rgb(0,0,0);
  font-family:Arial;
  font-size:75px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  animation-name:bounce_fountainTextG;
    -o-animation-name:bounce_fountainTextG;
    -ms-animation-name:bounce_fountainTextG;
    -webkit-animation-name:bounce_fountainTextG;
    -moz-animation-name:bounce_fountainTextG;
  animation-duration:1.82s;
    -o-animation-duration:1.82s;
    -ms-animation-duration:1.82s;
    -webkit-animation-duration:1.82s;
    -moz-animation-duration:1.82s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.5);
    -o-transform:scale(.5);
    -ms-transform:scale(.5);
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
}#fountainTextG_1{
  animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
}
#fountainTextG_2{
  animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
}
#fountainTextG_3{
  animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}
#fountainTextG_4{
  animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
}
#fountainTextG_5{
  animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
}
#fountainTextG_6{
  animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
}
#fountainTextG_7{
  animation-delay:1.43s;
    -o-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -moz-animation-delay:1.43s;
}
#fountainTextG_8{
  animation-delay:1.56s;
    -o-animation-delay:1.56s;
    -ms-animation-delay:1.56s;
    -webkit-animation-delay:1.56s;
    -moz-animation-delay:1.56s;
}




@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

.poster-container{
  margin-bottom:50px;
}
